{% extends "layout.html" %}

{% block content %}

	<form role="form" id = "addform" action="/add/submit" method="POST">
	  <div class="form-group">
	    <label for="pagetitle">PAGE TITLE</label>
	    <input  class="form-control" id="pagetitle" placeholder="Page Title" name="pagetitle" required="required">
	  </div>

	  <div class="form-group">
	    <label for="pagecontent">PAGE CONTENT</label>
	    <textarea class="form-control" rows="15" id="pagecontent" name="pagecontent" required="required"></textarea>
	  </div>

	  <button type="submit" class="btn btn-primary">SUBMIT</button>

	</form>


{% endblock %}
